src/automation/workflows/victor_ollama_debug.json
{
  "name": "Victor Ollama Debug",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "victor-debug",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.0.130:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"codellama:latest\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"What is a Python list?\"}],\n  \"stream\": false\n} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ollama-test",
      "name": "Test Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log what we got from Ollama\nconst response = $input.first().json;\nconsole.log('Ollama Response:', JSON.stringify(response, null, 2));\n\n// Extract message content\nlet content = 'No response';\nif (response.message && response.message.content) {\n  content = response.message.content;\n} else if (response.response) {\n  content = response.response;\n}\n\nreturn [{\n  json: {\n    raw_response: response,\n    extracted_content: content,\n    has_message: !!response.message,\n    has_response: !!response.response,\n    model: response.model || 'unknown'\n  }\n}];"
      },
      "id": "debug-response",
      "name": "Debug Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Test Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Ollama": {
      "main": [
        [
          {
            "node": "Debug Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}