src/automation/workflows/victor_ollama_chat_workflow_fixed.json
{
  "name": "Victor Ollama Chat Enhancement Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "victor-local-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "victor-local-chat"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "dcs"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains", 
              "value2": "lua"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "waypoint"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "xsaf"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "mission"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "aircraft"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "helicopter"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "trigger"
            },
            {
              "value1": "={{$json.body.messages[0].content.toLowerCase()}}",
              "operation": "contains",
              "value2": "script"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "dcs-detector",
      "name": "Is DCS Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.0.130:8000/enhance_prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"prompt\": $json.body.messages[0].content,\n  \"model\": $json.body.model || 'codellama'\n} }}",
        "options": {}
      },
      "id": "victor-enhance",
      "name": "Enhance with Victor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.0.130:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $json.body.model || 'codellama:latest',\n  \"messages\": $json.body.messages,\n  \"stream\": $json.body.stream || false,\n  \"options\": {\n    \"temperature\": 0.7\n  }\n} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ollama-chat",
      "name": "Ollama Chat",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get the enhanced prompt from Victor\nconst victorResponse = $input.first().json;\nconst originalRequest = $node['Webhook'].json.body;\n\n// Build enhanced messages array\nconst enhancedMessages = [...originalRequest.messages];\n\n// If Victor provided context, prepend it as a system message\nif (victorResponse.enhanced_prompt && victorResponse.enhanced_prompt !== originalRequest.messages[0].content) {\n  enhancedMessages.unshift({\n    role: 'system',\n    content: victorResponse.enhanced_prompt\n  });\n}\n\n// Select the best model for DCS queries\nlet model = originalRequest.model;\nif (model === 'claude-3-7-sonnet-latest' || !model) {\n  // Map to best available Ollama coding model\n  model = 'codellama:latest';\n}\n\nreturn [{\n  json: {\n    model: model,\n    messages: enhancedMessages,\n    stream: originalRequest.stream || false,\n    options: {\n      temperature: 0.7\n    }\n  }\n}];"
      },
      "id": "prepare-enhanced",
      "name": "Prepare Enhanced Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.0.130:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ollama-enhanced",
      "name": "Ollama with Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "model",
              "field2": "model"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "// Get the Ollama response\nconst ollamaResponse = $input.first().json;\n\n// Extract the message content properly\nlet messageContent = 'No response generated';\nif (ollamaResponse.message && ollamaResponse.message.content) {\n  messageContent = ollamaResponse.message.content;\n} else if (ollamaResponse.response) {\n  messageContent = ollamaResponse.response;\n}\n\n// Standard Open-WebUI response format\nreturn [{\n  json: {\n    id: 'chatcmpl-' + Date.now(),\n    object: 'chat.completion',\n    created: Math.floor(Date.now() / 1000),\n    model: ollamaResponse.model || 'codellama:latest',\n    choices: [{\n      index: 0,\n      message: {\n        role: 'assistant',\n        content: messageContent\n      },\n      finish_reason: 'stop'\n    }],\n    usage: {\n      prompt_tokens: ollamaResponse.prompt_eval_count || 0,\n      completion_tokens: ollamaResponse.eval_count || 0,\n      total_tokens: (ollamaResponse.prompt_eval_count || 0) + (ollamaResponse.eval_count || 0)\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is DCS Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is DCS Query?": {
      "main": [
        [
          {
            "node": "Enhance with Victor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance with Victor": {
      "main": [
        [
          {
            "node": "Prepare Enhanced Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Enhanced Request": {
      "main": [
        [
          {
            "node": "Ollama with Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama with Context": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}